<div class="postlist">
    {% for post in postslist %}
        <section class="postlist-item">
            <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
            <div class="meta">
                <dl>
                    <dt class="sr-only">Published on</dt>
                    <dd><time>{{ post.date | readableDate }}</time></dd>
                </dl>

            </div>
            <article>
                <div class="prose">
                    {% excerpt post %}
                    <p class="read-more"><a aria-label="{{ post.data.title }}" href="{{ post.url }}">Read more <span class="sr-only">about {{ post.data.title }} </span></a></p>
                </div>

                {% set tagslist = post.data.tags %}
                {% include "taglist.njk" %}
            </article>
        </section>
    {% endfor %}
</div>
