/* @import 'prism-onedark.css'; */

@tailwind base;
@tailwind components;

body {
    font-weight: theme('fontWeight.light');
    background-color: theme('colors.gray.100');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

body > footer {
    & a {
        color: theme('colors.blue.700');
    }

    & span.copyright {
        margin: theme('margin.auto');
        padding: 0 theme('padding.4');
        max-width: theme('maxWidth.4xl');
        display: block;
        font-size: theme('fontSize.sm');
        text-align: center;
    }

    padding: theme('spacing.8');
    width: theme('width.full');
    border-top: 1px solid theme('colors.gray.200');
}

body > header {
    & > nav {
        margin: theme('margin.auto');
        max-width: theme('maxWidth.4xl');
    }

    & h1 {
        font-family: theme('fontFamily.serif');
        font-size: theme('fontSize.xl');
        font-weight: theme('fontWeight.light');
        color: theme('colors.blue.700');
        display: flex;
        align-items: center;
    }

    & img {
        height: 3rem;
        width: 3rem;
        margin-right: theme('spacing.2');

        @media (max-width: theme('screens.md')) {
            margin-left: theme('spacing.4');
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: theme('width.full');
    background: theme('colors.gray.100');
    box-shadow: theme('boxShadow.xs');
    padding-top: theme('spacing.4');
    padding-bottom: theme('spacing.4');
    z-index: 1000;

    @media (max-width: theme('screens.md')) {
        padding-top: theme('spacing.2');
        padding-bottom: theme('spacing.2');
    }
}

main {
    max-width: theme('maxWidth.4xl');
    margin: theme('margin.auto');
    margin-bottom: theme('spacing.8');
    margin-top: theme('spacing.24');

    @media (max-width: theme('screens.md')) {
        margin-top: theme('spacing.16');
        padding: theme('spacing.4');
    }

    & a {
        color: theme('colors.blue.700');
    }

    & > header {
        max-width: theme('maxWidth.4xl');
        margin: theme('margin.auto');
        padding-bottom: theme('spacing.4');
        margin-bottom: theme('spacing.4');

        & h1 {
            font-family: theme('fontFamily.serif');
            font-weight: theme('fontWeight.extrabold');
            font-size: theme('fontSize.5xl');
            line-height: theme('lineHeight.snug');

            @media (max-width: theme('screens.md')) {
                font-weight: theme('fontWeight.bold');
                font-size: theme('fontSize.3xl');
            }
        }

        & .nav {
            margin-top: theme('margin.8');
            color: theme('colors.gray.400');
        }

        & .description {
            color: theme('colors.gray.700');
        }
    }

    & .postlist {
        & section {
            margin-bottom: theme('spacing.8');
            padding-bottom: theme('spacing.8');
            border-bottom: 1px solid theme('colors.gray.300');
            display: grid;
            grid-template-columns: theme('width.1/4') theme('width.3/4');
            grid-template-rows: auto auto;

            @media (max-width: theme('screens.md')) {
                display: block;
                margin-bottom: theme('spacing.4');
                padding-bottom: theme('spacing.4');
            }

            & h2 {
                font-size: theme('fontSize.2xl');
                font-weight: theme('fontWeight.medium');
                margin-bottom: theme('spacing.4');
                grid-column-start: 2;
                grid-row-start: 1;

                @media (max-width: theme('screens.md')) {
                    margin-bottom: theme('spacing.1');
                }
            }

            & > .meta {
                grid-column-start: 1;
                grid-row-start: 1;
                padding-right: theme('spacing.4');

                @media (max-width: theme('screens.md')) {
                    width: theme('width.full');
                    margin-bottom: theme('spacing.4');
                }

                & > dl {
                    padding-top: theme('spacing.2');

                    @media (max-width: theme('screens.md')) {
                        padding-top: 0;
                    }
                }
            }

            & > article {
                grid-column-start: 2;
                grid-row-start: 2;

                @media (max-width: theme('screens.md')) {
                    width: theme('width.full');
                }

                & div.tags {
                    margin-top: theme('spacing.6');

                    @media (max-width: theme('screens.md')) {
                        margin-top: theme('spacing.4');
                    }
                }

                & p.read-more {
                    font-size: theme('fontSize.sm');
                }
            }
        }
    }

    & div.tags {
        line-height: theme('lineHeight.9');

        & > a {
            padding: 2px 6px;
            margin-right: theme('spacing.1');
            font-size: theme('fontSize.xs');
            background-color: theme('colors.gray.200');
            border: 1px solid theme('colors.indigo.200');
            border-radius: theme('borderRadius.default');
            white-space: nowrap;
        }
    }

    & div.sample-container {
        background-color: theme('colors.gray.200');
        border: 1px solid theme('colors.indigo.200');
        border-radius: theme('borderRadius.default');
        display: flex;
        margin-top: theme('spacing.8');
        padding: theme('spacing.4');
        align-items: center;

        & > svg {
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 1rem;
        }
    }

    & > nav.pagination {
        & ol {
            list-style: none;
            display: flex;
            justify-content: center;

            & li {
                margin-right: theme('spacing.4');
                color: theme('colors.gray.500');

                @media (max-width: theme('screens.md')) {
                    & a span.page-description {
                        display: none;
                    }
                }
            }

            & li:first-child {
                flex-grow: 1;
            }

            & li:last-child {
                flex-grow: 1;
                text-align: right;
                margin-right: 0;
            }

            & a {
                border: 1px solid transparent;
                padding: theme('spacing.1') theme('spacing.2');
                border-radius: theme('borderRadius.default');
            }

            & [aria-current] {
                background-color: theme('colors.indigo.100');
                border: 1px solid theme('colors.indigo.200');
            }
        }
    }
}

code[class*='language-'],
pre[class*='language-'] {
    color: theme('colors.gray.300');
    background: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
    background: theme('colors.blue.800');
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    background: #9aa2b1;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: rgba(45, 55, 72, 1);
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: theme('colors.gray.400');
}

.token.punctuation {
    color: #abb2bf;
}

.token.selector,
.token.tag {
    color: theme('colors.orange.400');
}

.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
    color: theme('colors.pink.400');
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
    color: theme('colors.green.400');
}

.token.operator,
.token.entity,
.token.url,
.token.class-name,
.language-css .token.string,
.style .token.string {
    color: theme('colors.gray.400');
}

.token.atrule,
.token.keyword {
    color: theme('colors.blue.400');
}

.token.property,
.token.function {
    color: theme('colors.orange.400');
}

.token.regex,
.token.important,
.token.variable {
    color: theme('colors.red.400');
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #5c6370;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

@tailwind utilities;
