<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ renderData.title or title or metadata.title }} | {{ metadata.title }}</title>
        <meta name="Description" content="{{ renderData.description or description or metadata.description }}" />
        <link rel="icon" href="{{ '/img/avatar.svg' | url | tsUrl }}" />
        <link rel="stylesheet" href="{{ '/styles/main.css' | url | tsUrl }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
        <link
            rel="alternate"
            href="{{ metadata.feed.path | url }}"
            type="application/atom+xml"
            title="{{ metadata.title }}"
        />
        {%- if title -%}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ metadata.twitter }}" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:description" content="{{ description }}" />
        <meta name="twitter:image" content="{{ '/img/avatar.png' | url | tsUrl | vercelUrl }}" />
        {%- endif -%}
    </head>
    <body>
        <header>
            <nav>
                <h1 class="home">
                    <img src="{{ '/img/avatar.svg' | url | tsUrl }}" alt="Avatar images" />
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </h1>
            </nav>
        </header>
        {{ content | safe }}
        <footer>
            <span class="copyright">
                &copy; {% copyrightDate %} Phil Scott (<a href="https://twitter.com/Philco78">twitter</a>) | Built with <a href="https://www.11ty.dev/">11ty</a>
            </span>

        </footer>
    </body>
</html>
